/*************/
/*home page common*/
/*************/
 .home-featureicons.section-50, .home-campuslife.section-50, .home-newssection.section-50, .home-infosec.section-50 {padding-top: 50px;padding-bottom: 50px;}
.home-videoblock.section-50{padding-top:0px;padding-bottom:0px;}


/*************/
/*#home-section-0*/
/*************/
#home-section-0 {position: relative;background-color: #f7f8ff;}
#home-section-0 .banner{padding: 0px 0px 0px 0px;}
#home-section-0 .banner .carousel {position: relative;width: 100%;text-align: center}
.carousel-indicators li {background-color: #fff;}
.carousel-indicators li.active {background-color: #ec3237;}
/*#home-section-0 h2 {font-size: 48px;line-height: 1;letter-spacing: -1px;text-align: left }*/



/*************/
/*#home-heading*/
/*************/
.home-heading .row{position: relative}
.home-heading .headingTitle {line-height:1;font-family: 'Noto Serif', sans-serif;}
.home-heading .headingTitle.h2 {font-size:24px;color:#333;font-weight:400}
.home-heading .headingTitle.h5 {color: #393a82e6;text-transform: capitalize;font-weight:700;margin-bottom:20px}
.home-heading  p {font-size: 19px;color:#484848;font-weight: 400;z-index: 999}
.home-heading  h6 a{font-size: 14px;font-weight: 700;text-transform: uppercase;cursor: pointer;color:#333;}
.home-heading  h6 a:hover{color:#3e4095;}

/*************/
/*#Count Education*/
/*************/
.home-heading .educationCount {background-position: center;background-repeat: no-repeat;}
.home-heading .educationCount ul.list-inline {margin-bottom:0px;float:left;}
.home-heading .educationCount ul.list-inline .list-inline-item span {display: inherit}
.home-heading .educationCount ul.list-inline .list-inline-item{color: #ffffff !important;text-align: left}
.home-heading .educationCount ul.list-inline .list-inline-item strong {line-height: 64px;color: #333;font-weight:700 }
.home-heading .educationCount ul.list-inline .list-inline-item strong i {font-size:50px;color:#bababa}
.home-heading .educationCount ul.list-inline .list-inline-item p {text-transform: uppercase;font-size: 14.3px;font-weight: 600;letter-spacing: 0.4px;color: #707070;}

/*************/
/*#Feature Icon*/
/*************/
.home-featureicons{}
.home-featureicons .featureicons-media .media{padding:15px;}
.home-featureicons .featureicons-media .media img{width:75px;margin-right:10px;border-radius: 5px;}
.home-featureicons .featureicons-media .media .media-body{color: #e4e4e4;font-size: 16px;line-height: 21px;}
.home-featureicons .featureicons-media .media .media-body h5{color: #fff;font-size: 20px;font-weight: 600;text-transform: uppercase;margin-top: 5px;margin-bottom: 5px;}





@media (max-width: 319.98px) {     
    .home-heading.section-50 {padding-top: 50px;padding-bottom: 0px;}
    /******/
    .home-heading .headingTitle.h5 {font-size: 35px;}
    .home-heading .educationCount ul.list-inline .list-inline-item{width:100%;}
    .home-heading .educationCount ul.list-inline .list-inline-item strong {font-size:55px;}
    .home-heading .sideimg{position: relative;width:80%;margin: 0px auto;} 
    /********/
    .home-infosec p{font-size:25px;font-weight:100;color:#fff;text-align: center;margin-top: 20px;}
    .home-infosec img{width:25%}
    .home-infosec .watchVideoDiv{padding:20px 0px;}
    .home-infosec .watchVideoDiv i,.home-infosec .watchVideoDiv span{color:#fff;font-size:21px;font-weight:400}
    .home-infosec .watchVideoDiv:hover i, .home-infosec .watchVideoDiv:hover span{color:#ffcc2a;cursor:pointer}
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px ) and (max-width: 575.98px) {
    .home-heading.section-50 {padding-top: 50px;padding-bottom: 0px;}
    /******/
    .home-heading .headingTitle.h5 {font-size: 35px;}
    .home-heading .educationCount ul.list-inline .list-inline-item{width:100%;}  
    .home-heading .educationCount ul.list-inline .list-inline-item strong {font-size:55px;}
    .home-heading .sideimg{position: relative;width: 90%;margin: 0px auto;} 
    /********/
    .home-infosec p{font-size:25px;font-weight:100;color:#fff;text-align: center;margin-top: 20px;}
    .home-infosec img{width:25%}
    .home-infosec .watchVideoDiv{padding:20px 0px;}
    .home-infosec .watchVideoDiv i,.home-infosec .watchVideoDiv span{color:#fff;font-size:21px;font-weight:400}
    .home-infosec .watchVideoDiv:hover i, .home-infosec .watchVideoDiv:hover span{color:#ffcc2a;cursor:pointer}
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .home-heading.section-50 {padding-top: 50px;padding-bottom: 0px;}
    /******/
    .home-heading .headingTitle.h5 {font-size: 35px;}
    .home-heading .educationCount ul.list-inline .list-inline-item{width:245px;}
    .home-heading .educationCount ul.list-inline .list-inline-item strong {font-size:55px;}
    .home-heading .sideimg{position: relative;width:80%;margin: 0px auto;}
    /********/
    .home-infosec p{font-size:25px;font-weight:100;color:#fff;text-align: center;margin-top: 20px;}
    .home-infosec img{width:15%}
    .home-infosec .watchVideoDiv{padding:20px 0px;}
    .home-infosec .watchVideoDiv i,.home-infosec .watchVideoDiv span{color:#fff;font-size:21px;font-weight:400}
    .home-infosec .watchVideoDiv:hover i, .home-infosec .watchVideoDiv:hover span{color:#ffcc2a;cursor:pointer}
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .home-heading.section-50 {padding-top: 50px;padding-bottom: 50px;}
    /******/
    .home-heading .headingTitle.h5 {font-size: 35px;}
    .home-heading .educationCount ul.list-inline .list-inline-item{width:250px;}
    .home-heading .educationCount ul.list-inline .list-inline-item strong {font-size:55px;}
    .home-heading .sideimg{position: absolute;width: 47%;right: 0;bottom: 33%;}
    /********/
    .home-infosec p{font-size:30px;font-weight:100;color:#fff;text-align: center;margin-top: 20px;}
    .home-infosec img{width:10%}
    .home-infosec .watchVideoDiv{padding:20px 0px;}
    .home-infosec .watchVideoDiv i,.home-infosec .watchVideoDiv span{color:#fff;font-size:21px;font-weight:400}
    .home-infosec .watchVideoDiv:hover i, .home-infosec .watchVideoDiv:hover span{color:#ffcc2a;cursor:pointer}
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .home-heading.section-50 {padding-top: 50px;padding-bottom: 50px;}
    /******/
    .home-heading .headingTitle.h5 {font-size: 35px;}
    .home-heading .educationCount ul.list-inline .list-inline-item{width:295px;} 
    .home-heading .educationCount ul.list-inline .list-inline-item strong {font-size:55px;}
    .home-heading .sideimg{position: absolute;width:57%;right: 0;bottom: -8%;} 
    /********/
    .home-infosec p{font-size: 30px;font-weight: 100;color: #fff;text-align: center;margin-top: 20px;}
    .home-infosec img{width:9%}
    .home-infosec .watchVideoDiv{padding:20px 0px;}
    .home-infosec .watchVideoDiv i,.home-infosec .watchVideoDiv span{color:#fff;font-size:21px;font-weight:400}
    .home-infosec .watchVideoDiv:hover i, .home-infosec .watchVideoDiv:hover span{color:#ffcc2a;cursor:pointer}
    
}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .home-heading.section-50 {padding-top: 50px;padding-bottom: 50px;}
    /******/
    .home-heading .headingTitle.h5 {font-size: 35px;}
    .home-heading .educationCount ul.list-inline .list-inline-item{width:350px;}
    .home-heading .educationCount ul.list-inline .list-inline-item strong {font-size:63px;}
    .home-heading .sideimg{position: absolute;width:57%;right: 0;bottom: -8.5%;} 
    /********/
    .home-infosec p{font-size:34px;font-weight:100;color:#fff;text-align: center;margin-top: 20px;}
    .home-infosec img{width:9%}
    .home-infosec .watchVideoDiv{padding:20px 0px;}
    .home-infosec .watchVideoDiv i,.home-infosec .watchVideoDiv span{color:#fff;font-size:21px;font-weight:400}
    .home-infosec .watchVideoDiv:hover i, .home-infosec .watchVideoDiv:hover span{color:#ffcc2a;cursor:pointer}
}



/*************/
/* home-news-section */
/*************/
.home-newssection .headingTitle {line-height:1;font-family: 'Noto Serif', sans-serif;}
.home-newssection .headingTitle.h2 {font-size:24px;color:#333;font-weight:400}
.home-newssection .headingTitle.h5 {color: #393a82e6;text-transform: capitalize;font-weight:700;margin-bottom:20px}
.home-newssection .slick-prev::before, .home-newssection .slick-next::before {color: #7f7f7f;}

.home-newssection .card-list-event {margin-top:20px;padding:0px 5px;}
.home-newssection .card-list-event .card{position: relative;border: none;border-radius: 3px;}
.home-newssection .card-list-event .card.card_default {width: 100%;overflow: hidden}
.home-newssection .card-list-event .card.card_default.card_no_image {height: 160px;}
.home-newssection .card-list-event .card.card_default .card-body{padding-top: 17px;z-index: 2;padding-top: 16px; padding-left: 25px;padding-bottom: 15px;}
.home-newssection .card-list-event .card.card_default .post_meta{display: block;color: rgba(0,0,0,0.4);font-size: 12px;font-weight: 500;position: absolute;top: 10px;width: 90%;}
.home-newssection .card-list-event .card.card_default .card-title{font-size: 18px;font-weight: 600;color: rgb(255, 255, 255);line-height: 1.33;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;}
.home-newssection .card-list-event .card.card_default .card-title-small{font-size: 15px;line-height: 1.375;height:28%;overflow: hidden;position: absolute;bottom: 0;padding: 10px;left: 0;}
.home-newssection .card-list-event .card.card_default .card-title:hover{color: #fff;}
.home-newssection .card-list-event .card.card_default .post_meta span{display: inline-block;position: relative;color: rgb(255, 255, 255);font-size: 12px;font-weight: 500;}
.home-newssection .card-list-event .card.card_default .post_meta span.post-meta-rm{float:right;}
.home-newssection .card-list-event .card.card_default .post_meta span.post-meta-rm:hover{color:#ec3237;font-weight:400}

.home-newssection .card-list-event .card.card_no_image {background-color: #393a82cc}
.home-newssection .card-list-event .card.card_with_image {background-position:center;background-size:cover;background-repeat:no-repeat;width:100%;min-height:160px}
.home-newssection .card-list-event .card.card_with_image .bg-overlay {background-color:rgba(0,0,0,0.2);position:absolute;top:0;left:0;right:0;bottom:0;width:100%; }
.home-newssection .card-list-event .card.card_with_image .card-body{z-index: 2;position:absolute;top:0;right:0;left:0;bottom:0;padding:15px;}
.home-newssection .card-list-event .card.card_no_image .card-body{padding:15px;}
.home-newssection .card-list-event .card.card_with_image:hover .bg-overlay{background-color:rgba(0,0,0,0.4);}
@media (max-width: 319.98px) {     
    .home-newssection .card-list-event .card.card_with_image {height:186px}
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px ) and (max-width: 575.98px) {
    .home-newssection .card-list-event .card.card_with_image {height:186px}
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .home-newssection .card-list-event .card.card_with_image {height:160px}
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .home-newssection .card-list-event .card.card_with_image {height:160px}
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-newssection .card-list-event .card.card_with_image {height:160px}
}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .home-newssection .card-list-event .card.card_with_image {height:179px}
}
